@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #22252A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22252A;
    --foreground: #ededed;
  }
}

body {
  background-color: #f5f5f5;
  font-family: var(--font-geist-sans);
}

